@import url('https://use.typekit.net/lqr2vuw.css')



:root, :host {
    --fa-font-solid: normal 900 1em/1 "futura-pt";
    --fa-font-regular: normal 400 1em/1 "futura-pt";
    --fa-font-light: normal 300 1em/1 "futura-pt";
    --fa-font-thin: normal 100 1em/1 "futura-pt";
    --fa-font-duotone: normal 900 1em/1 "futura-pt";
    --fa-font-brands: normal 400 1em/1 "futura-pt";
}


body{
    font-family : 'futura-pt',sans-serif;
    width: auto;
    padding: 0 3% 0 3%;
    margin: auto;
}

.main{
    width: 100%; 
    height: auto;
    background-color: whitesmoke;
    margin-top: 2rem;
}
.recipesContainer{
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    
}

.recipeThumb{
    width: 20em;
    height: 20em;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
}

.imageThumb{
    border-radius: 10px;
    width: 100%;
}
.recipeName{
    transform: translateY(-75px);
    color: whitesmoke;
    text-shadow: 1px 1px black;
    width: 18em;
    padding: 0px 30px 0px 30px;
    text-align: center; 
    
}

.favorite{
    position: relative;
    top: -380px;
    right: -130px;
}

.filters{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
}

.filter{
    background-color: rgb(226, 230, 245);
    min-width: 150px;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    border: none;
}
.logo {
    height: 75px;
    position: relative;
    left: 0px;
    top: 0px;
}
.header {
    display: flex;
    width: auto;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.searchField_field {
    padding: 5px;
    font-size: 1.2em ;
    height: 20px;
    width: 300px;
    border-radius: 0px;
    border-inline: none;
    border-top:none;
    border-color:orange;
    text-align: end;
    outline: none;
}

a:-webkit-any-link .backButton{
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-thickness: 3px;
    opacity: 0.8;
    color: orange; 
    font-size: 1.6em;
}

.RecipeDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 500px;
    margin: auto;
}

.tabs-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 500px;
    margin: auto;
}
.imgDetail{
    border-radius: 15px;
}
.tabs{
    display: flex;
    justify-content: center;
}
.onglets {
    width: 250px;
    height: 50px;
    color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-bottom: solid 3px;
}
.active {
    background: white;
    color: orange;
}
.container{
    height: 600px;
    margin-top: 20px;
}
.ingredientQuantite {
    display: flex;
}
.ingredients{
    padding-inline-start: 20px;
}
.ingredient{
    list-style: none;
    
}
.quantite {
    list-style: none;
}
.footer{
    height: 200px;
}
